
body{
 width:100%;
 height:100%;
 margin:0;

}
.main-header{
 width:100%;
 height:5rem; 
 background:yellowgreen;
 position:relative;


}
.main-header-nav{
 position: absolute;
 width:30%;
 height:5rem;


}
.main-header-list-items{
 list-style: none;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-right:6rem;
 padding-top:1rem;
}
.main-header-list-items a{
 text-decoration: none;
  font-size: 20px;  
}
.main-header-list-items a:hover{
 color:white;
}
.main-form{
 display: flex;
 flex-direction: column;
 width:100%;
 margin-left:5rem;
 margin-top:2rem;
}
.form-label{
 font-size:17px;
}
.form-input{
 margin-top:0.5rem;
 width:300px;
 height:2rem;
 outline: 0;
}
.form-btn{
 width:150px;
 height:2rem;
 background-color: transparent;
 border:1px solid rgb(90, 6, 135);
 margin-top:1rem;
}
.form-btn:hover{
 background-color:rgb(90, 6, 135) ;
 color:white;
}
